
.border {
    border: 1px solid #dee2e6;
  }
  
  .border-thick {
    border-width: 3px;
  }
  
  h1, h2 {
    color: #750000 !important;
  }
  
  .rcorners1 {
    border-radius: 25px;
    height:150px;
    background: #73AD21;
    margin: 20px;
    padding: 20px;
  }
  
  .tablegreen {
    background: #2ef8d6;
  }
  
  .tableorange {
    background: #ffc75f;
  }
  
  .tablered {
    background: #f3c5ff;
  }
  
  .tableblue {
    background: #d0e9f4;
  }
  
  .rotateclock {
    transform: rotate(45deg);
  }
  
  .rotatecounterclock {
    transform: rotate(-45deg);
  }
  
  .remark {
    color:#DD0000;
    background-color: #ffc75f;
  }
  
  .dimmed {
    opacity: 0.5;
  }

  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  code {
    font-size: 1em;
  }

  p {
    font-size: 1.2em;
  }